<div class="cherry-banner_wrap" style="background-image: url(%%IMAGE%%); background-color:%%BGCOLOR%%; color:%%COLOR%%; text-shadow: 1px 1px 1px black">
	<div class="table-display">
		<div class="table-cell">
			%%TITLE%%
			%%CONTENT%%
		</div>
	</div>
</div>