[cherry_row]
[cherry_col size_sx="12" size_sm="6" size_md="6" size_lg="6"]
<figure class="post-thumbnail">%%IMAGE%%</figure>
[/cherry_col]
[cherry_col size_sx="12" size_sm="6" size_md="6" size_lg="6"]
<h4 class="post-title">%%TITLE%%</h4>
[/cherry_col]
[/cherry_row]