<div class="inner-wrap">
	<div class="media-content">
		%%IMAGE%%
	</div>
	<div class="item-content rollover-content">
		<div class="item-content-inner table-display">
			<div class="table-cell">
				<h3>%%TITLE%%</h3>
				<div class="content">%%CONTENT="2"%%</div>
				%%ZOOMLINK="<i class='fa fa-desktop'></i> Zoom"%% %%PERMALINK="<i class='fa fa-cog'></i> Permalink"%%
			</div>
		</div>
	</div>
</div>